body {
  min-height: 1000px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}
.noborder {
  border: 0 !important;
}
hr {
    border-top: 2px solid #eeeeee !important;
}
@font-face {
    font-family: 'Adam';
    src: url('../fonts/adam.otf');
}
.georgia {
    font-family: Georgia, Serif;
}
.no-width {
  width: unset !important;
}
.no-border {
  border: unset !important;
}
.white {
  color: #fff;
}

.overflow-hidden {
  overflow: hidden;
}
.categoria {
    display: block;
    padding: 5px 10px;
    width: 100px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
}

.hoverzoom {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    width: 100%;
    background: #000;
    height: 76%;
    top: 25%;
    z-index: 998;
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), #000);
    background: -o-linear-gradient(right, rgba(255, 0, 0, 0), red);
    background: -moz-linear-gradient(right, rgba(255, 0, 0, 0), red);
    background: linear-gradient(transparent, #000);
}
.noticia-content {
    position: absolute;
    bottom: 45px;
    width: 95%;
    padding: 0 25px;
    z-index: 999;
}
.hoverzoom .noticia-capa {
    position: relative;
    overflow: hidden;
}

.prophetic-school-color {
  color: #955da9;
}
.prophetic-school-bg {
  background-color: #955da9;
}
.daniel-project-color {
  color: #54b5f9;
}
.articles-color {
  color: #7f7f7f;
}
.israel-color {
  color: #c0d549;
}
.video-color {
  color: #f4bc41;
}

.col-md-3, .col-md-4, .col-md-6, .col-md-12 {
  overflow: hidden;
}

.container {
    width: 1180px;
}

.nopadding {
  padding: 0;
}

.title {
  letter-spacing: -1px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  display: block;
}

.prophetic-school .section-title .square-line {
  width: 240px;
  height: 10px;
  padding-bottom: 10px;
  background: #955da9;
  position: absolute;
  margin-top: -5px;
}
.prophetic-school .section-title h1 {
  font-size: 24px;
  margin-top: -10px;
}

.daniel-project .section-title .square-line {
    width: 206px;
    height: 10px;
    padding-bottom: 10px;
    background: #54b5f9;
    position: absolute;
    margin-top: -5px;
}
.daniel-project .section-title h1 {
    font-size: 24px;
    margin-top: -8px;
}
.video {
  margin-top: 19px;
}
.video .section-title .square-line {
  width: 89px;
  height: 10px;
  padding-bottom: 9px;
  background: #f4bc41;
  position: absolute;
  margin-top: -5px;
}
.video .section-title h1 {
  font-size: 24px;
  margin-top: 10px;
}

.articles .section-title .square-line {
  width: 106px;
  height: 10px;
  padding-bottom: 9px;
  background: #7f7f7f;
  position: absolute;
  margin-top: -5px;
}
.articles .section-title h1 {
    font-size: 24px;
    margin-top: -4px;
}

.israel .section-title .square-line {
    width: 85px;
    height: 10px;
    padding-bottom: 8px;
    background: #c0d549;
    position: absolute;
    margin-top: -5px;
}
.israel .section-title h1 {
  font-size: 24px;
  /* margin-top: 10px; */
}

.logo {
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
}

.logo-topo {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  background: white;
  top: 0;
}

.navbar-fixed-top {
    top: 120px;
}

.navbar-default {
    background-color: #1c1c1c;
    border-color: #1c1c1c;
}

.nav>li {
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.navbar-nav>li>a {
    padding-top: 22px;
    padding-bottom: 22px;
}

.top {
    margin-top: 219px;
}

/* .top .first-news-block {
    width: 333px;
} */

.first-news {
  margin-top: 40px;
}

.news-resume {
  font-size: 12px;
  color: #767676;
  margin-top: 5px;
}

.top .middle-news-block {
  width: 580px;
}

.middle-news-img {
  height: 315px;
  overflow: hidden;
}
.middle-news-hat {
  position: absolute;
  display: block;
  position: absolute;
  top: 276px;
  background: #fff;
  padding: 10px 10px 10px 0;
  color: #85172e;
}
.middle-news {
  margin-top: 15px;
}

.note-hat {
  font-size: 14px;
  display: block;
}

.note-title {
  font-size: 18px;
  display: block;
  padding: 5px 0 15px 0;
  line-height: 19px;
}
.note-content {
  display: flex;
}
.note-content .note-resume {
  color: #767676;
  font-size: 12px;
  padding-left: 10px;
  height: 104px;
}

.prophetic-school {
  margin-top: 35px;
}
.daniel-project {
    margin-top: 39px;
}
.articles {
    margin-top: 37px;
}


.prophetic-school .first-news {
  font-size: 18px;
  margin-top: unset;
}
.prophetic-school .note-hat {
  padding-top: 10px;
}

.daniel-project .noticia-assets {
    position: relative;
    border: 1px #e2e2e2 solid;
    border-bottom: #fff;
}
.daniel-project h4 {
    padding: 10px;
    margin: -2px 0 0 1px;
    border: 1px #e2e2e2 solid;
    width: 279px;
    height: 90px;
    font-size: 18px;
    line-height: 22px;
}

.daniel-project .noticia-assets .categoria {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
}

.daniel-project .noticia-assets .categoria span {
    display: block;
    color: #54b5f9;
}
.daniel-project h4 .chapeu {
    display: block;
    color: #955da9;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.daniel-project .banner {
  height: 135px;
  font-family: 'Adam';
  background-color: #f3f3f3;
  color: #3b88d0;
  border: 1px solid #747474;
}
.daniel-project .banner h1 {
  text-align: center;
  padding-top: 2%;
  font-size: 48px;
}

.articles .feature {
    display: flex;
    border: 1px solid #e2e2e2;
    margin-bottom: 22px;
}

.articles .feature .feature-text {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.articles .feature .feature-text span {
  display: block;
}

.articles .feature .feature-text .titulo {
    font-size: 16px;
    font-weight: bold;
}

.articles .feature .feature-text .subtitulo {
  color: #767676;
  font-size: 12px;
}

.articles .colunistas .feature {
    margin-bottom: 11px;
}
.articles .feature .feature-img-pequena img {
    width: 80px;
    height: auto;
}
.articles .feature {
    display: flex;
    border: 1px solid #e2e2e2;
    margin-bottom: 16px;
}
.articles .christian-world .feature-text .titulo {
  font-weight: unset;
}
.articles .christian-world .feature {
  border: unset;
}
.articles .christian-world .feature .feature-img-pequena img {
  width: 100px;
  height: auto;
}
.video .middle-news-img {
    height: unset;
}
.video .middle-news {
    font-size: 18px;
    font-weight: unset;
}
.video .overlay {
  top: unset;
  width: 92.5%;
}
footer .site-map {
  height: 177px;
  background-color: #1c1c1c;
}
footer .rights {
  text-align: center;
}
footer img {
  padding: 25px 0;
}
footer hr {
  border-top: 1px solid #3b3b3b;
}
footer ul {
  padding-top: 25px;
}
footer ul li {
  /* float: left; */
  color: #fff;
  display: inline;
}

.ultimas-noticias .feature {
    display: flex;
    margin-bottom: 10px;
}
.ultimas-noticias .feature .feature-year {
    color: #999999;
}
.ultimas-noticias .feature .feature-year span {
    display: block;
    padding: 7px 0;
}
.ultimas-noticias .feature .feature-text {
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ultimas-noticias .feature .feature-text .titulo {
    font-size: 21px;
    font-weight: bold;
    display: block;
}
.ultimas-noticias .feature .feature-text .subtitulo {
    font-size: 14px;
    color: #333333;
    margin-right: 80px;
    display: block;
}
.ultimas-noticias .feature .feature-img img {
    max-width: 240px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.ultimas-noticias .section-title h1 {
  font-size: 24px;
  color: #955da9;
  font-weight: 200;
}
.artigos-colunistas .feature .feature-text {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colunistas .feature .feature-img-pequena img {
  width: 74px;
  height: auto;
}
.colunistas .feature {
    display: flex;
    border: 1px solid #e2e2e2;
    margin-bottom: 8px;
}
.colunistas .feature .feature-text .titulo {
    font-size: 16px;
    font-weight: bold;
}
.colunistas .feature .feature-text .subtitulo {
    color: #8d8d8d;
    font-size: 12px;
    margin-right: unset;
}

.materia {
  margin-top: 200px;
  padding-bottom: 100px;
}
.materia .container {
  width: 1020px;
}
.materia .manchete {
  font-size: 48px;
  font-weight: bold;
}
.materia .sub-titulo {
  font-size: 20px;
  color: #666666;
  margin: 30px 0;
}
.materia .capa-texto img {
  width: 100% !important;
}
.materia .autor-hora {
  display: inline-block;
  margin-bottom: 30px;
  color: #777;
}
.materia .addtoany_share_save_container {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
}
.materia .addtoany_share_save_container:last-child {
  position: relative;
  text-align: right;
}
.materia .ministerios .titulo {
  font-size: 14px;
}
.materia .comentarios, .materia .colunista {
  padding-top: 40px;
}
.materia .texto-materia {
  overflow: hidden;
}
.materia .attachment-full {
  width: 100% !important;
  height: auto;
  padding-bottom: 20px;
}
.materia .colunistas .feature {
  border: 1px solid #e2e2e2;
  margin: 10px 0;
  margin-top: 0;
  display: flex;
}
.materia .colunistas .feature .feature-img img {
  max-width: 150px;
}
.materia .colunistas .feature .feature-text {
  padding-left: 10px;
}
.materia .colunistas .feature .feature-img-pequena img {
  width: 80px;
  height: auto;
}
.materia .colunistas .feature .titulo {
  margin-top: 0;
  font-size: 16px;
  font-family: Georgia, Serif;
}
.materia .colunistas .feature .subtitulo {
  font-size: 12px;
  color: #767676;
}
.materia .mais-lidas .feature {
  margin: 10px 0;
  display: flex;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -1px;
}
.materia .mais-lidas .feature .feature-img img {
  max-width: 150px;
}
.materia .mais-lidas .feature .feature-text {
  padding: 10px 10px 10px;
}
.materia .mais-lidas .feature .feature-img-pequena img {
  width: 80px;
  height: auto;
}
.materia .mais-lidas .feature .titulo {
  margin-top: 0;
  font-size: 16px;
  font-family: Georgia, Serif;
}
.materia .mais-lidas .feature .subtitulo {
  font-size: 12px;
  color: #767676;
}

/* Bootstrap adjusts */
.navbar-fixed-top {
    top: 117px;
}
.navbar-nav>li>a {
    padding-top: 17px;
    padding-bottom: 17px;
}
hr {
    margin-top: 24px;
}
.footer {
  margin-top: 75px;
}
.grep-separator {
  padding: 0 15px;
}

.slick-next {
  right: 15px;
}
.slick-prev {
  left: 16px;
}
.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 42%;
  display: block;
  width: 41px;
  height: 74px;
  padding: 0;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: #85172e;
  z-index: 999;
}
.slick-prev:before {
  content: '<';
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  font-weight: bold;
}
.slick-next:before {
  content: '>';
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #fff;
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  background: #85172e;
}

.brand {
  display: inline-block;
}
.brand img {
  padding-top: 7px;
}
.menu {
  display: inline-block;
  padding-top: 5px;
}
.ministry-logo {
  padding: 25px 0;
}
.ministries-menu {
  border-bottom: 1px solid #e3e3e3;
  background: #fff;
}
.ministries-top {
  margin-top: 215px;
  padding-bottom: 20px;
}
.ministries-top .overlay {
  width: 95%;
}
.ministries-top .noticia-destaque {
  height: 375px;
  color: #fff;
}
.ministries-top .categoria {
  background: #000;
}
.ministries-top .noticia-content {
  bottom: 15px;
}
.ministries-top .noticia-lateral .colunistas .feature {
  border: 1px solid #e2e2e2;
  padding: 0;
  margin-top: 20px;
}
.ministries-top  .noticia-lateral .feature {
  display: flex;
}
.ministries-top .noticia-lateral .feature .feature-text {
  margin-top: -5px;
  font-size: 16px;
  padding-left: 10px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
}
.ministries-top .noticia-lateral .colunistas .feature .titulo {
  margin-top: 0;
  font-size: 16px;
  font-family: Georgia, Serif;
  display: block;
}
.ministries-top .noticia-lateral .colunistas .feature .subtitulo {
  font-size: 12px;
  color: #767676;
}
.ministries-top .noticia-lateral .noticia-pequena {
  margin-top: 20px;
}
.ministries-top .noticia-lateral .feature {
  display: flex;
}
.ministries-top .noticia-lateral .feature .feature-img img {
  max-width: 120px;
}
.ministries-top .noticia-lateral .feature .feature-text {
  font-size: 16px;
  letter-spacing: -1px;
}
.ministries-top .section-title h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.colunista-header {
  margin-bottom: 20px;
}
.colunistas-sessao .feature {
  display: flex;
  margin-bottom: 40px;
  border: 1px solid #e2e2e2;
  padding: 0;
}
.colunistas-sessao .feature .feature-text {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colunistas-sessao .feature .feature-text .titulo {
  font-weight: bold;
  margin-top: 0;
  font-size: 16px;
  font-family: Georgia, Serif;
}
.colunistas-sessao .feature .feature-text .subtitulo {
  color: #767676;
}
.colunista-header .contato {
  display: block;
  font-size: 18px;
  color: #767676;
  font-weight: 200;
}
.artigos {
  margin-top: 220px;
}
.colunista-header .titulo {
  font-size: 30px !important;
  margin-top: -10px !important;
}

.titulo {
  font-weight: bold;
  display: block;
  letter-spacing: -1px;
}
.colunista-header .subtitulo {
  font-size: 18px !important;
  font-weight: 200;
}
.ministries-top .first-news {
  margin: 15px 0;
}
.pattern-page h4 {
  height: 115px;
}
.pattern-page .section-title h1 {
  margin: 0;
}
.pattern-page .section-title hr {
  margin: 10px 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    text-align: center;
}
.navbar-nav {
    margin: 0;
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

#menu1 {
  top: 0;
}
